<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a routerLink="home" class="navbar-brand">TP Routing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
          <li>
              <a class="nav-link grabLink" routerLink="" routerLinkActiveOptions="true">Accueil</a>
          </li> 
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Cours</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="cours/programmation">Programmation</a>
                  <a class="dropdown-item" routerLink="cours/web">Web</a>
              </div>
          </li>
          <li>
            <a class="nav-link grabLink" routerLink="ressources" routerLinkActiveOptions="true">Ressources</a>
          </li> 
            <li>
              <a class="nav-link grabLink" routerLink="contact" routerLinkActiveOptions="true">Contact</a>
          </li>  
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>